[Unit]
Description=Flask app exposing tensorflow lite model on the Coral USB stick
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u coral-app.py
WorkingDirectory=/home/pi/coral-pi-rest-server
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target